<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home | Covid Classification</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <div class="title">Pilih Gejala yang dirasakan</div>
      <form action="result">
        <div class="container">
          <label class="option_item">
            <input type="hidden" name="susahnafas" value="off"/>
            <input type="checkbox" class="checkbox" name="susahnafas"  value="on"/>
            <div class="option_inner facebook">
              <div class="tickmark"></div>
              <!-- <div class="icon"><i class="fas fa-head-side-cough"></i></div> -->
              <div class="name">Masalah pernapasan</div>
            </div>
          </label>
          <label class="option_item">
            <input type="hidden" name="demam" value="off"/>
            <input type="checkbox" class="checkbox" name="demam" value="on"/>
            <div class="option_inner facebook">
              <div class="tickmark"></div>
              <!-- <div class="icon"><i class="fas fa-head-side-cough"></i></div> -->
              <div class="name">Demam</div>
            </div>
          </label>
          <label class="option_item">
            <input type="hidden" name="baker" value="off"/>
            <input type="checkbox" class="checkbox" name="baker" value="on"/>
            <div class="option_inner facebook">
              <div class="tickmark"></div>
              <!-- <div class="icon"><i class="fas fa-head-side-cough"></i></div> -->
              <div class="name">Batuk Kering</div>
            </div>
          </label>
          <label class="option_item">
            <input type="hidden" name="sateng" value="off"/>
            <input type="checkbox" class="checkbox" name="sateng" value="on"/>
            <div class="option_inner facebook">
              <div class="tickmark"></div>
              <!-- <div class="icon"><i class="fas fa-head-side-cough"></i></div> -->
              <div class="name">Sakit tenggorokan</div>
            </div>
          </label>
          <label class="option_item">
            <input type="hidden" name="hipertensi" value="off"/>
            <input type="checkbox" class="checkbox" name="hipertensi" value="on"/>
            <div class="option_inner facebook">
              <div class="tickmark"></div>
              <!-- <div class="icon"><i class="fas fa-head-side-cough"></i></div> -->
              <div class="name">Hipertensi</div>
            </div>
          </label>
          <label class="option_item">
            <input type="hidden" name="lelah" value="off"/>
            <input type="checkbox" class="checkbox" name="lelah" value="on"/>
            <div class="option_inner facebook">
              <div class="tickmark"></div>
              <!-- <div class="icon"><i class="fas fa-head-side-cough"></i></div> -->
              <div class="name">Kelelahan</div>
            </div>
          </label>
          <label class="option_item">
            <input type="hidden" name="jjln" value="off"/>
            <input type="checkbox" class="checkbox" name="jjln" value="on"/>
            <div class="option_inner facebook">
              <div class="tickmark"></div>
              <!-- <div class="icon"><i class="fas fa-head-side-cough"></i></div> -->
              <div class="name">Perjalanan ke luar negeri</div>
            </div>
          </label>
          <label class="option_item">
            <input type="hidden" name="contact" value="off"/>
            <input type="checkbox" class="checkbox" name="contact" value="on"/>
            <div class="option_inner facebook">
              <div class="tickmark"></div>
              <!-- <div class="icon"><i class="fas fa-head-side-cough"></i></div> -->
              <div class="name">Kontak dengan Pasien COVID</div>
            </div>
          </label>
          <label class="option_item">
            <input type="hidden" name="kumpul" value="off"/>
            <input type="checkbox" class="checkbox" name="kumpul" value="on"/>
            <div class="option_inner facebook">
              <div class="tickmark"></div>
              <!-- <div class="icon"><i class="fas fa-head-side-cough"></i></div> -->
              <div class="name">Menghadiri Pertemuan Besar</div>
            </div>
          </label>
          <label class="option_item">
            <input type="hidden" name="public" value="off"/>
            <input type="checkbox" class="checkbox" name="public" value="on"/>
            <div class="option_inner facebook">
              <div class="tickmark"></div>
              <!-- <div class="icon"><i class="fas fa-head-side-cough"></i></div> -->
              <div class="name">Mengunjungi Tempat Umum yang terbuka</div>
            </div>
          </label>
          <label class="option_item">
            <input type="hidden" name="keluarga" value="off"/>
            <input type="checkbox" class="checkbox" name="keluarga" value="on"/>
            <div class="option_inner facebook">
              <div class="tickmark"></div>
              <!-- <div class="icon"><i class="fas fa-head-side-cough"></i></div> -->
              <div class="name">Keluarga yang bekerja di Tempat-Tempat Umum</div>
            </div>
          </label>
          
        </div>
        <div class="btn">
          <a href="{% url 'result' %}"><button class="submit" style="vertical-align:middle"><span>Validasi</span></button></a>
        </div>
      </form>
    </div>

    <br><br>
  </body>
</html>
